html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  head
    title= title
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="/highcharts/css/highcharts-dark-unica.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body(style="font-size:0.8em;background-color: #333; color: #D1FF00;")
    h1 Sensor Station Software Updater
    pre(id="terminal" style="width=600px;min-height:600px;color:#ccc;font-family:courier;") 
    button(class="btn btn-sm btn-danger" id="station-update") Update
    script(src="/javascripts/station-update.js")
